/* 
    The css for the homepage of the data visualizer 

    Description of colors:
    Background          EEF0F2
    Background Accent   C6C7C4
    Font                333333
    Purple              3F2A56
    Blue                26374B

    Font Type           Georgia
*/

html,
body {
    font: 16pt arial;
    background-color: #EEF0F2;
}

#viz {
    height: 500px;
    background-color: white;
    border: 1px solid lightgray;
    font: 22pt Georgia;
}

#vis_desc_par{
    color: #111111;
}